<?xml version="1.0" encoding="UTF-8"?>
<configuration>
    <system.webServer>
        <directoryBrowse enabled="false" />
        <urlCompression dynamicCompressionBeforeCache="true" />
    </system.webServer>
    <system.web>
        <identity impersonate="false" />
    </system.web>
</configuration>
