@import 'nav';
@import 'map';
@import 'r_filtering';
@import 'r_listing';
@import 'reviews';
@import 'mediaqueries';
@import 'heart';

body,td,th,p{
    font-family: Arial, Helvetica, sans-serif;
    font-size: 16pt;
    color: #333;
    line-height: 1.5;
  }
  body {
    background-color: #fdfdfd;
    margin: 0;
    position:relative;
    max-width: 1100px;
    margin-left:auto;
    margin-right: auto;
  }
  ul, li {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 10pt;
    color: #333;
  }
  a {
    color: orange;
    text-decoration: none;
  }
  a:hover, a:focus {
    color: #3397db;
    text-decoration: none;
  }
  a img{
    border: none 0px #fff;
  }
  h1, h2, h3, h4, h5, h6 {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0 0 20px;
  }
  article, aside, canvas, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
    display: block;
  }
  
  table {
    margin: 20px 20px 0px;
  }
  #maincontent {
    background-color: #f3f3f3;
    min-height: 100%;
    display: flex;
    flex-direction:column;
  }
  #footer {
    background-color: black;
    color: white;
    font-size: 8pt;
    letter-spacing: 1px;
    padding: 25px;
    text-align: center;
    text-transform: uppercase;
  }